{% layout "layout.liquid" %}
{% block content %}

    <h1>Welcome to the exclusive Shoporium store</h1>
    <h3>Please sign in or create an account.</h3>
    <a href="auth/login"><button>login</button></a>
    <a href="auth/signup"><button>signup</button></a>



{% endblock %}