{% layout "layout.liquid" %}
{% block content %}

<!-- {{user.cartItems}} -->
{{user.cartItems[0].name}}
<!-- {{user.cartItems.product.name[1]}} -->

{% for cartItems in cartItems %}
    <div>
    {{cartItems.name}}
    </div>

{% endfor %}




{% endblock %}