{% layout "layout.liquid" %}
{% block content %}

    <h2>Order Successful!</h2>
    <p>Your order number is : {{previousOrders.orderNumber}}</p><br/>
    <p>You can expect your order to be shipped within the next 3-5 business days.</p>


{% endblock %}